.pliniancore-full-view { }

.pliniancore-species-record {
    border-width: 3px;
    border-color: #D9DADD;
    border-style: none solid solid solid;
 }

.pliniancore-title {
  font-family: 	'DINOT-Medium';  
  font-style: italic;
  font-size: 46px;
 }

.pliniancore-species-record{
  margin: 0 30px;
  padding: 0 5px;
}

.pliniancore-field {
  margin: 5px 0;
  background: #F1F4FB;

  padding-top: 7px;
  padding-bottom: 7px;

  border-width: 1px;
  border-color: #D9DADD;
  border-style: solid solid solid solid;
 }

.pliniancore-field-title {
  float: left;
  width: 200px;
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
  font-size: 14px;
 }
